<div id="sidebar-content">
  <!-- menu -->
  <h3>Browse:</h3>
  <nav id="main-menu">
    <ul>
      <li><a href="/" title="Homepage">Home</a>
      <li><a href="/technical-articles">Technical Articles</a>
      <li><a href="/writings-and-poems">Writings And Poems</a>
      <li><a href="/doodles">Doodles</a>
      <li><a href="/links">Check it Out!</a>
      <li><a href="http://github.com/clusterfoo" title="My code on github"
             target="_blank">My Github</a>
      <li><a href="/me/about" title="About Me">About Me</a>
      <li><a href="/contact" title="Contact Me">Contact Me</a>
    </ul>
  </nav>

  <h3>Subscribe:</h3>

  <p><a href="http://feeds.feedburner.com/Clusterfoo" title="Subscribe to my feed"
    rel="alternate" type="application/rss+xml"><img
      src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" alt=""
      style="border:0"/></a>
      <a href="http://feeds.feedburner.com/Clusterfoo"
        title="Subscribe to my feed" rel="alternate"
        type="application/rss+xml">Subscribe in a reader</a>

  <form style="padding:3px;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Clusterfoo', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Email newsletter:</p>
    <p><input type="text" style="width:140px" name="email"/></p>
    <input type="hidden" value="Clusterfoo" name="uri"/><input type="hidden" name="loc" value="en_US"/>
    <input type="submit" value="Subscribe" />
    <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
  </form>
</div>

