<div id="reading-about">
  <p><b>March 2013:</b> rsync over ssh, nanoc, ruby lambdas and procs, user 
  input in Ruby, Mongodb.

  <p><b>February 2013:</b> GPLv2 vs GPLv3, GPL vs BSD, Ruby (blocks, 
  control structures), databases with Rails, lots of Vim stuff, Intel processor 
  timeline and history, MPL vs MIT license, Rake, Ruby Gems, Minitest.

  <p><b>January 2013:</b> TDD / BDD, Ruby, Rails, Rspec, finite automata, 
  fetch-and-execute cycle, pass by value vs pass by reference.

  <p><b>Dec 2012:</b> Sass / scss, compass, susy, Ruby, Rails.

  <p><b>Nov 2012:</b> Apache server configuration, permissions, /etc/group, WP taxonomy 
  functions, xrandr, Xmonad, node.js, linux package management, hackintosh.

  <p><b>Oct 2012:</b> Ardour, PC-BSD, rsync, digital logic structures, tmux, vim buffers 
  and registers, wget, curl, ack vs grep, singleton pattern, using classes in 
  wordpress (add action within a class), graph databases, hypergraphs, 
  vim key bindings, UNIX signals, UNIX file I/O, PHP OOP, git cherry-picking, 
  git workflows, tmux.
</div>
