<div id="sidebar-content">
  <!-- menu -->
  <h3>Browse:</h3>
  <nav id="main-menu">
    <ul>
      <li><a href="/" title="Homepage">Home</a>
      <li><a href="/all-articles">All Articles</a>
      <li><a href="/links">Check it Out!</a>
      <li><a href="/talks">Watch This!</a>
      <li><a href="http://github.com/clusterfoo" title="My code on github" 
        target="_blank">My Github</a>
      <li><a href="/me/about" title="About Me">About Me</a>
    </ul>
  </nav>

  <h3>My "Blurblog":</h3>
  <p>News articles I'm sharing and talking about on NewsBlur:
  <a href="http://clusterfoo.newsblur.com">Click it, ya dingus.</a>

  <h3>Subscribe in a Reader:</h3>

  <p><a href="http://feeds.feedburner.com/Clusterfoo" title="Subscribe to my feed" 
    rel="alternate" type="application/rss+xml"><img 
      src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" alt="" 
      style="border:0"/></a>
      <a href="http://feeds.feedburner.com/Clusterfoo" 
        title="Subscribe to my feed" rel="alternate" 
        type="application/rss+xml">Click me!</a>

  <h3>I'm Learning About...</h3>
  <%= render 'sidebar/im_reading_about' %>
</div>

