---
title: All Articles
---

<h2>Articles</h2>
<ol>
  <% sorted_articles.each do |article| %>
    <% if article[:category] == "article" %>
        <li><time datetime="<%= article[:created_at] %>"><%= article[:created_at] %>: <%= link_to article[:title], article.path %>
    <% end %>
  <% end %>
</ol>

<h2>Quick Guides</h2>
<ol>
  <% sorted_articles.each do |article| %>
    <% if article[:category] == "quick-guide" %>
        <li><time datetime="<%= article[:created_at] %>"><%= article[:created_at] %>: <%= link_to article[:title], article.path %>
    <% end %>
  <% end %>
</ol>
