---
title: Home
---

<h2 class="section-header">Latest Tweets</h2>

<div class="centered">
  <a class="twitter-timeline" href="https://twitter.com/CLUSTERfoo"
    width="550"
    data-widget-id="309418544100151296">Tweets by @CLUSTERfoo</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){js=d.createElement(s);
    js.id=id;js.src="//platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</div>

<h2 class="section-header">Pinned</h2>

<% sorted_articles.each do |article| %>
  <% if article[:pinned] == true %>
    <article class="front-page">
      <h2><%= link_to article[:title], article.path %></h2>
      <aside>Day posted: <time datetime="<%= article[:created_at] %>"><%= article[:created_at] %></aside>
      <%= article.compiled_content %>
      <p><%= link_to "Comments? Click me!", article.path %>
    </article>
  <% end %>
<% end %>

<a href="/all-articles">All Articles</a>
