// -----------------------------------------------------------------------------
// Imports
// -----------------------------------------------------------------------------
@import "compass";
@import "susy";

@import url(http://fonts.googleapis.com/css?family=Tauri|Oxygen+Mono);
$paragraph-font:  'Arial', sans-serif;
$code-font:       'Oxygen Mono', monospace;

// -----------------------------------------------------------------------------
// Reset
// -----------------------------------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
// box model
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// don't let images overflow
img {
  max-width: 100%;
  height: auto;
}
// -----------------------------------------------------------------------------
// Establish color-scheme 
// -----------------------------------------------------------------------------
$background-color: white;
$primary-color: black;
$secondary-color: #444;

// -----------------------------------------------------------------------------
// Establish base
// -----------------------------------------------------------------------------
$base-font-size: 14px;
$padding: $base-font-size * 0.75;
$base-line-height: $base-font-size * 1.5;
$round-to-nearest-half-line: true;
@include establish-baseline;

// -----------------------------------------------------------------------------
// Grid (using Susy Grid)
// -----------------------------------------------------------------------------
// define grid
$total-columns  : 12;
$column-width   : 100px - $padding;
$gutter-width   : $padding;
$grid-padding   : $gutter-width;

// layouts
$desktop        : 960px 12;

#everything {
  @include container;
  max-width: 1024px;

  margin-top: $padding;
  margin-bottom: $padding;

  #main {
    @include span-columns(8,12);
    
    header { padding-bottom: $padding; }
    header, #content {
      clear: both;
    }
  }

  #sidebar {
    @include span-columns(4 omega, 12);

    #sidebar-content {
      clear: both;
      padding: 0 $padding;
    }
  }

  footer {
    clear: both;
    padding-top: $padding;
    margin-top: $padding;
  }
  
}

// -----------------------------------------------------------------------------
// Main layout 
// -----------------------------------------------------------------------------
header {
  margin-bottom: $padding;
  border-bottom: solid thin black; 
}

article.front-page { 
  padding-bottom: $padding * 2;
  border-bottom: dashed thin black;
}

// -----------------------------------------------------------------------------
// Paragraph style 
// -----------------------------------------------------------------------------
body {
  font-family:  $paragraph-font;
  font-size:    $base-font-size;
  line-height: $base-line-height;
  color: $primary-color;
  background-color: $background-color;
}

// headers
h1, h2, h3, h4 { 
  font-weight: bold;
  @include margin-leader(0.75)
}
h1 {  @include adjust-font-size-to(20px); }
h2 {  @include adjust-font-size-to(18px); }
h3 { @include adjust-font-size-to(16px); }
h5 { text-decoration: underline; }
.section-header {
  background: black;
  color: white;
  text-align: center;
}

// Blocks
p {
  @include margin-leader(0.75);
}
pre, code { 
  font-family: $code-font; 
  background: #ddd;
}

pre {
  overflow: auto;
  font-family: $code-font;
  @include margin-leader(0.75);
  padding: $padding ($padding * 2);
  .line-numbers { margin-right: $padding; }
}
blockquote {
  @include margin-leader(0.75);
  background: #eee;
  color: $secondary-color;
  padding: 0 ($padding * 2) $padding ($padding * 2);
}

// Inline style
b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}

// -----------------------------------------------------------------------------
// Lists 
// -----------------------------------------------------------------------------
#content, #sidebar {
  ul, ol {
    margin: $padding 0;
    padding-left: $padding * 2;
    li { display: list-item; }
  }

  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

}

// -----------------------------------------------------------------------------
// Sidebar 
// -----------------------------------------------------------------------------
#sidebar {
  #reading-about { @include adjust-font-size-to(10px); }
}

// -----------------------------------------------------------------------------
// Header 
// -----------------------------------------------------------------------------
header {
  h1, h2 {
    font-weight: normal;
    @include adjust-font-size-to($base-font-size);
    margin: 0;
  }
}

// -----------------------------------------------------------------------------
// Footer 
// -----------------------------------------------------------------------------
footer {
  @include adjust-font-size-to(12px);
}

// -----------------------------------------------------------------------------
// Third Party 
// -----------------------------------------------------------------------------
.centered {
  @include margin-leader(0.75);
  display: table;
  margin-left: auto;
  margin-right: auto;
}
